<% content_for(:title, "Recipe List | Recipe Book") %>
<% content_for(:heading, "Recipe List") %>
<% content_for(:content, "A complete list of all of the recipes on the website") %>

<div class="container">
	<% if @recipes == [] %>
		<p>There are currently no recipes! Help grow the list by submitting one!</p>
	<% else %>
		<p> Here is a list of all of the recipes: </p>
		<ul>
	  		<% @recipes.each do |recipe| %>
	    		<li><a href="users/<%=recipe.user.id %>/recipes/<%=recipe.id%>"><%= recipe.name %></a></li>
	  		<% end %>
		</ul>
	<% end %>
</div>


