
<%= render('layouts/navbar') %>

<div class="jumbotron">
  <div class="container">
    <h1>Recipe List</h1>
    <p>A website for you to add and rate recipes</p>
  </div>
</div>

<ul>
  <% @recipes.each do |recipe| %>
    <li><%= recipe.name %></li>
  <% end %>
</ul>


