<% content_for(:title, "#{@recipe.name} | Recipe Book") %>
<% content_for(:heading, "#{@recipe.name}") %>
<% content_for(:content, "#The recipe for {@recipe.name} is provided by #{@recipe.user}") %>

<div class="container"> 
	<h1><%= @recipe.name %></h1>

	<p><%= @recipe.name %> has the following portions:</p>

	<ul>
	  <% # loop through all recipes using this ingredient here and put them in <li>s %>
	</ul>


	<p><a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a></p>
	<p><a href="/recipes/<%= @recipe.id %>/delete" data-confirm="Delete - Are you sure?" data-method="delete" rel="nofollow">Delete Recipe</a></p>
</div> 

