<h1><%= @recipe.name %></h1>

<p><%= @recipe.name %> has the following portions:</p>

<ul>
  <% # loop through all recipes using this ingredient here and put them in <li>s %>
</ul>



<%= render('/layouts/navbar') %>
