<% content_for(:title, "#{@ingredient.name} | Edit | Recipe Book") %>
<% content_for(:heading, "#{@ingredient.name}") %>
<% content_for(:content, "Wrong information? Fix it.") %>

<%= render('layouts/errors', :object => @ingredient) %>

<div class="container">

	<p>Please change the information you like to edit:</p>

	<form action="/ingredients/<%= @ingredient.id %>" method="post" role="form">

		<input name="_method" type="hidden" value="patch">
	  	<div class="form-group">
		  	<label for="ingredient_name">Ingredient Name</label> 
		  	<input id="ingredient_name" type="text" name="ingredient[name]" value="<%= @ingredient.name %>">
			</div> 
	  <button class="btn btn-primary">UPDATE</button>
	</form>

</div> 

