<% content_for(:title, "Ingredient List | Recipe Book")%> 
<% content_for(:heading, "Ingredients List") %> 
<% content_for(:content, "Ingredients are used in my recipes. Click on recipes below each ingredients to see more specific instructions.") %> 

<div class="container"> 
	<p>There are currently <b><%= @ingredients.length %></b> ingredients that are part of our users' recipes. As the site grows, the nubmer of different ingredients and recipes grows. Click on an ingredient to see recipes that use the ingredient.</p>
	<p>For your convenience, the list of ingredients are sorted in alphabetical order.</p>
	
	<ul>
		<% @ingredients.each do |ingredient| %>
		    <li><a href="/ingredients/<%=ingredient.id%>"><%= ingredient.name %></a></li>
		<% end %>
	</ul>

</div> 


