<h1><%= @ingredient.name %></h1>

<p><%= @ingredient.name %> is used in the following recipes:</p>

<ul>
  <% # loop through all recipes using this ingredient here and put them in <li>s %>
</ul>



<%= render('/layouts/navbar') %>
