<% content_for(:title, "User List | Recipe Book") %>
<% content_for(:heading, "Users of Recipe Book") %>
<% content_for(:content, "View the complete list of users for the recipe book. Click on the user to see what recipes they contributed.") %>

<ul>
  <% @users.each do |user| %>
    <li><a href="/user/<%= user.id %>"><%= user.name %></a></li>
  <% end %>
</ul>

