<h1>Create New User</h1>

<form action="/user/create" method="post">
  <label for="user_name">User Name</label>
  <input id="user_name" name="user[name]" type="text" />
  <button>CREATE</button>
</form>
