<% content_for(:title, "New contact | Recipe Book") %>
<% content_for(:heading, "#{@user.name}") %>
<% content_for(:content, "#{@user.name} became a member of Recipe Book at #{@user.created_at}.") %>

<div class="container">
	<div>
		<h2><%=@user.name%>'s Recipes</h2>
		<% if @user_recipes == nil %> 
			<p>This user currently does not have any recipes.</p>
		<% else %>
			<% @user_recipes.each do |recipe| %> 
				<%= recipe.name %>  
			<% end %>
		<% end %>   
	</div>	
</br> 
		<p><a href="/user/<%= @user.id %>/edit">Edit User</a></p>
	<div>
	</div>
		<p><a href="/user/<%= @user.id %>/delete" data-confirm="Delete - Are you sure?" data-method="delete" rel="nofollow">Delete User</a></p>
	<div>
	</div>
</div>











