

<!-- header -->
<div class="jumbotron">
	<div class="container"> 
		<h1>Recipe Book</h1>
		<p>A website for you add and rate recipes</p> 
		<p>
			<a class="btn btn-primary btn-lg" role="button"> View Recipes</a>
		</p>
	</div> 
</div> 

<!-- Three sections  -->
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Add New Recipe</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p class="btn btn-default" href="#" role="button">Click Here</p>
		</div>
		<div class="col-md-4">
			<h2>Add New Recipe</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p class="btn btn-default" href="#" role="button">Click Here</p>
		</div>
		<div class="col-md-4">
			<h2>Add New Recipe</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p class="btn btn-default" href="#" role="button">Click Here</p>
		</div>
	</div>
</div>

